<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <aspNetCore processPath="dotnet"
                arguments=".\Corebyte-platform.dll"
                stdoutLogEnabled="true"
                stdoutLogFile="\\?\\%home%\\LogFiles\\stdout\\stdout"
                hostingModel="inprocess" />
  </system.webServer>
</configuration>